{% extends "layout.html" %}
{% block title %}RequestBin - {{bin.name}}{% endblock %}
{% block icon %}<link rel="shortcut icon" href="{{bin.favicon_uri}}" />{% endblock %}

{% block sidebar %}{% endblock %}

{% block binurl %}
  <a href="/{{bin.name}}?inspect"><i class="icon-circle icon-2x" style="color: rgb{{bin.color}}"></i></a>
  <input type="text" value="{{base_url}}/{{bin.name}}" onclick="this.select()" />
  {% if bin.private %}<i class="icon-lock"></i>{% endif %}
{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
    {% if bin.requests %}
      <div class="split-view-container">
        <!-- Left Panel: Request List -->
        <div class="request-list-panel">
          <div class="request-list-header">
            <div class="list-header-title">
              <h4 style="margin: 0; display: inline-block;">Requests</h4>
              <button class="btn btn-small btn-primary refresh-btn" onclick="refreshRequests()" title="Refresh table">
                <i class="icon-refresh"></i> Refresh
              </button>
            </div>
            <div class="list-header-row">
              <div class="col-id">#</div>
              <div class="col-datetime">Date & Time</div>
              <div class="col-method">Method</div>
              <div class="col-type">Type</div>
              <div class="col-size">Size</div>
              <div class="col-ip">IP</div>
            </div>
          </div>
          <div class="request-list-body">
            {% for request in bin.requests %}
              <div class="request-list-item {% if loop.first %}active{% endif %}" 
                   id="list-item-{{request.id}}" 
                   onclick="showRequestDetail('{{request.id}}')">
                <div class="col-id">{{loop.index}}</div>
                <div class="col-datetime">
                  <div class="datetime-value">{{request.time|format_datetime}}</div>
                  <div class="timezone-value">{{request.time|format_timezone}}</div>
                </div>
                <div class="col-method">
                  <span class="method-badge method-{{request.method}}">{{request.method}}</span>
                </div>
                <div class="col-type">
                  {% if request.content_type %}
                    {% if 'multipart/form-data' in request.content_type %}
                      <span class="type-badge">form-data</span>
                    {% elif 'application/x-www-form-urlencoded' in request.content_type %}
                      <span class="type-badge">form-urlencoded</span>
                    {% elif 'application/json' in request.content_type %}
                      <span class="type-badge">json</span>
                    {% elif 'application/xml' in request.content_type or 'text/xml' in request.content_type %}
                      <span class="type-badge">xml</span>
                    {% elif 'text/' in request.content_type %}
                      <span class="type-badge">text</span>
                    {% elif 'image/' in request.content_type or 'application/octet-stream' in request.content_type %}
                      <span class="type-badge">binary</span>
                    {% else %}
                      <span class="type-badge">raw</span>
                    {% endif %}
                  {% else %}
                    <span class="type-badge type-empty">-</span>
                  {% endif %}
                </div>
                <div class="col-size">{{request.content_length|friendly_size}}</div>
                <div class="col-ip">{{request.remote_addr}}</div>
              </div>
            {% endfor %}
          </div>
        </div>

        <!-- Right Panel: Request Details -->
        <div class="request-detail-panel">
          {% for request in bin.requests %}
            <div class="request-detail-content {% if loop.first %}active{% endif %}" id="detail-content-{{request.id}}">
              <div class="detail-header">
                <h4>Request #{{loop.index}} Details</h4>
                <div class="detail-header-info">
                  <span class="method-badge method-{{request.method}}">{{request.method}}</span>
                  <span class="detail-path">{{request.path}}{{request.query_string|to_qs}}</span>
                </div>
                <div class="detail-meta">
                  <div class="meta-item">
                    <i class="icon-time"></i> {{request.time|format_datetime}} {{request.time|format_timezone}}
                  </div>
                  <div class="meta-item">
                    <i class="icon-globe"></i> {{request.remote_addr}}
                  </div>
                  <div class="meta-item">
                    <i class="icon-cloud-upload"></i> {{request.content_length|friendly_size}}
                  </div>
                </div>
              </div>

              <div class="detail-body">
                <div class="detail-section">
                  <h5>HEADERS</h5>
                  <div class="detail-table">
                    {% if request.headers %}
                      {% for header in request.headers.items() %}
                        <div class="detail-row">
                          <div class="detail-key">{{header.0}}</div>
                          <div class="detail-value">{{header.1|escape}}</div>
                        </div>
                      {% endfor %}
                    {% else %}
                      <em>None</em>
                    {% endif %}
                  </div>
                </div>

                {% if request.query_string and not request.query_string is string %}
                  <div class="detail-section">
                    <h5>QUERY PARAMETERS</h5>
                    <div class="detail-table">
                      {% for k,v in request.query_string|dictsort: %}
                        <div class="detail-row">
                          <div class="detail-key">{{k}}</div>
                          <div class="detail-value">{% if v %}{{v}}{% else %}<em>(no value)</em>{% endif %}</div>
                        </div>
                      {% endfor %}
                    </div>
                  </div>
                {% endif %}

                {% if request.form_data %}
                  <div class="detail-section">
                    <h5>FORM/POST PARAMETERS</h5>
                    <div class="detail-table">
                      {% for k,v in request.form_data %}
                        <div class="detail-row">
                          <div class="detail-key">{{k}}</div>
                          <div class="detail-value">{{v}}</div>
                        </div>
                      {% endfor %}
                    </div>
                  </div>
                {% endif %}

                <div class="detail-section">
                  <h5>RAW BODY</h5>
                  <div class="detail-raw-body">
                    <pre class="body prettyprint">{%if request.raw%}{{request.raw}}{%else%}<em>None</em>{%endif%}</pre>
                  </div>
                </div>

                <div class="detail-section">
                  <h5>CURL COMMAND</h5>
                  <div class="curl-command-box">
                    <pre class="curl-command">{{request.to_curl}}</pre>
                    <button class="btn btn-small btn-primary" onclick="copyToClipboard('{{request.id}}')">
                      <i class="icon-copy"></i> Copy to clipboard
                    </button>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    {% else %}

      <h4 class="text-center">Bin URL</h4>
      <h2 class="text-center">
        <input class="xxlarge input-xxlarge" type="text" value="{{base_url}}/{{bin.name}}" onclick="this.select()" style="border-color: rgb{{bin.color}}; border-width: 3px;" /></h2>
      <p class="text-center">{% if bin.private %}This is a private bin. Requests are only viewable from this computer.{% endif %}

      <hr>
      <div class="row-fluid">
        <div class="span6 offset3">

      <h4>Make a request to get started.</h4>

      <h5>cURL</h5>
      <pre>curl -X POST -d "fizz=buzz" {{base_url}}/{{bin.name}}</pre>

      <h5>Python3 (with Requests)</h5>
      <pre class="prettyprint">import requests, time
r = requests.post('{{base_url}}/{{bin.name}}', data={"ts":time.time()})
print(r.status_code)
print(r.content)</pre>

      <h5>Node.js (with request)</h5>
      <pre class="prettyprint">var request = require('request');
var url ='{{base_url}}/{{bin.name}}'
request(url, function (error, response, body) {
  if (!error) {
    console.log(body);
  }
});</pre>

      <h5>Ruby</h5>
      <pre class="prettyprint">require 'open-uri'
result = open('{{base_url}}/{{bin.name}}')
result.lines { |f| f.each_line {|line| p line} }</pre>

      <h5>C# / .NET</h5>
      <pre class="prettyprint">using System;
using System.Net.Http;
using System.Threading.Tasks;

namespace RequestBinExample
{
  class Program
  {
    static void Main(string[] args)
    {
      MakeRequest();
    }

    private static async Task MakeRequest()
    {
      var httpClient = new HttpClient();
      var response = await httpClient.GetAsync(new Uri("{{base_url}}/{{bin.name}}"));
      var body = await response.Content.ReadAsStringAsync();
      Console.WriteLine(body);
    }
  }
}</pre>

      <h5>Java</h5>
      <pre class="prettyprint">import org.apache.commons.httpclient.*;
import org.apache.commons.httpclient.methods.*;
import org.apache.commons.httpclient.params.HttpMethodParams;

import java.io.*;

public class RequestBinTutorial {
  public static void main(String[] args) {
    HttpClient client = new HttpClient();
    GetMethod method = new GetMethod("{{base_url}}/{{bin.name}}");
    try {
      int statusCode = client.executeMethod(method);
      byte[] responseBody = method.getResponseBody();
      System.out.println(new String(responseBody));
    } catch (Exception e) {
      System.err.println("Fatal error: " + e.getMessage());
      e.printStackTrace();
    } finally {
      method.releaseConnection();
    }
  }
}</pre>

      <h5>PHP</h5>
      <pre class="prettyprint">&lt;?php
    $result = file_get_contents('{{base_url}}/{{bin.name}}');
    echo $result;
?&gt;</pre>

        </div>
      </div>

      <hr>

      <div class="alert-message block-message info">
        <h4>Limits</h4>
        <p>This {% if bin.private %}<strong>private</strong>{% endif %}
        bin will keep the last {{max_requests}} requests made to it and remain available for {{bin_ttl_hours}} hours after it was created.
        However, data might be cleared at any time, so <strong>treat bins as highly ephemeral</strong>.</p>
      </div>
    {% endif %}
{% endblock %}


{% macro message_detail(request) %}
<div id="request-detail-{{request.id}}" class="request-detail">
    <div class="row-fluid">
      <div class="span4">
        <h5>FORM/POST PARAMETERS</h5>
        {% for k,v in request.form_data %}
          <p class="keypair"><strong>{{k}}:</strong> {{v}}</p>
        {% else %}
          <em>None</em>
        {% endfor %}

        {% if request.query_string and not request.query_string is string %}
          <h5>QUERYSTRING</h5>
          {% for k,v in request.query_string|dictsort: %}
            {% if not v %}
              <p class="keypair"><strong>{{k}}</strong></p>
            {% else %}
              <p class="keypair"><strong>{{k}}:</strong> {{v}}</p>
            {% endif %}
          {% endfor %} 
        {% endif %}
      </div>
      <div class="span8">
        {% if request.headers %}
          <h5>HEADERS</h5>
            {% for header in request.headers.items() %}
              <p class="keypair"><strong>{{header.0}}:</strong> {{header.1|escape}}</p>
            {% endfor %}
        {% endif %}
      </div>
    </div>

    <h5>RAW BODY</h5>
    <div class="request-body" data-id="{{ request.id }}">
<pre class="body prettyprint">{%if request.raw%}{{request.raw}}{%else%}<em>None</em>{%endif%}</pre>

  </div>
</div>
{% endmacro %}
